/* Pacifico */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* Press Start 2P */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	color: #162c66;
	letter-spacing: 1px;
}

html,
body {
	min-height: 100vh;
}

h1 {
	font-family: Pacifico;
	/* font-family: 'Press Start 2P'; */
}
